<!doctype html>
<html>
   <h2 style = "text-align: center;">{{ message }}</h2>
   <body>
   <fieldset>
         <legend>Event Details</legend>
      <table border = 1 cellspacing=5 width=30% height=50px bgcolor="#ffff9f" >
         <tr >
               <th> KEY </th>
               <th> VALUE </td>
         </tr>
         {% for key, value in result.items() if key!='file'%}
            <tr>
               <td> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            
         {% endfor %}
            <tr>
                <td> Day </td>
               {% if tday == 0 %}
                  <td>Monday</td>
               {% elif tday == 1 %}
                  <td> Tuesday </td>
               {% elif tday == 2 %}
                  <td> Wednesday </td>
               {% elif tday == 3 %}
                  <td> Thursday </td>
               {% elif tday == 4 %}
                  <td> Friday </td>
               {% elif tday == 5 %}
                  <td> Saturday </td>
               {% elif tday == 6 %}
                  <td> Sunday </td>
               {% endif %}
            </tr>
      </table>
    </fieldset>
    <br><a href = "/">Go back to home page</a> 
   </body>
</html>
